.Tag {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	padding: 5px 10px;
	background-color: var(--interface-primary-color);
	color: var(--interface-white-color);
	border-radius: 20px;
}